@model FFC.Framework.Data.ForecastResult
<table>
    <tr>
        <td>Method: @Model.Method</td>
    </tr>
    <tr>
        <td>Result : </td>
    </tr>
    <tr>
        @foreach (var value in Model.Values)
        {
            <td>@value</td>
        }
    </tr>
         
</table>
<div>
     <img src= "@Url.Content(Model.ImagePath)" alt="Image" />
</div>
