@model FFC.Framework.Data.ForecastResult
<table>
    <tr>
        <td align="left"><b>Method: @Model.Method</b></td>
    </tr>
    <tr>
        <td><b> Result : </b></td>
    </tr>

    @foreach (var value in Model.Values)
    {
        <tr>
            <td>@value</td>
        </tr>
    }

</table>
<div>
    <img src="@Url.Content(Model.ImagePath)" alt="Image" />
</div>
