@model FFC.Framework.Data.ForecastResult
<table>
    <tr>
        <td>Method: @Model.Method</td>
    </tr>
    <tr>
        <td>Result : </td>
    </tr>
        @foreach (var value in Model.Values)
        {
            <tr>
                <td>@value</td>
            </tr>
        }
</table>

